.Header {
  width: 100%;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.Dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Content {
    width: 100%;
    padding: 20px;
    min-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card {
    width: 30%;
    min-width: 120px;
    height: 300px;
}